body,head{
	margin: 0;
	padding: 0;
	background-color: #00001a;
}
.h_main{
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	width: 100%;
}
.h_block{
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 80%;
	background-color: #00001a;
	overflow: hidden;
		background-repeat: no-repeat;
		background-size: 100% ;
		background-position: center;
		background-attachment: fixed;
		opacity:0.5;

}
.moon{background-image: url(../img/on_the_moon.jpg);}
.shenanigans{background-image: url(../img/rocket_concept.jpg);}
p{
	font-size: 36px;
	color: #f2f2f2;
}