@import url('https://fonts.googleapis.com/css?family=Amatic+SC');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
html {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
 }

/*----------Parallax block----------*/

.parallax-window {
  box-sizing: border-box;
  min-height: 100vh;
  /*text-align: center;
  padding-top: 25%;*/
  width: 100%;
  font-family: 'Amatic SC', cursive;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.parallax-window h1 {
  margin-top: 4em;
  font-size: 52px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.parallax-window small {
  font-size: 40px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.parallax-window img {
	margin-top: 13em;
	filter: invert(100%);
}
#canvas {
	position: relative;
	z-index: -1;
	display: block;
}
.parallax-window div {
	position: absolute;
	z-index: 1;
	display: flex;
  	justify-content: center;
  	align-items: center;
  	flex-direction: column;
}

/*----------First block----------*/

/*.first {
	margin: 2em auto;
	max-width: 1480px;
    min-height: 100%;
}
.first h2 {
	font-family: 'Amatic SC', cursive;
	font-size: 4em;
	text-align: center;
	text-decoration: underline #7B03E0;
}
.g-line {
	background-color: #7B03E0;
	height: 5px;
	width: 10em;
}
.gagarin {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
}
.gagarin img {
	width: 250px;
	height: 340px;
}
.gagarin img, .gagarin span {
	margin: 0em 0em 3em 3em;
}
.gagarin span {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 1.2em;
	font-weight: 400;
	color: #8d8d8d;
	width: 25em;
}
.first-a a {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 1.2em;
	font-weight: 400;
	width: 25em;
	color: #7B03E0;
	text-decoration: none;
}
.a-line {
	background-color: #7B03E0;
	width: 0em;
	height: 5px;
	transition: 0.3s linear;
}
.first-a:hover .a-line {
	width: 5.4em;
}/*

/*----------Second block----------*/

/*.second {
	margin: 2em auto;
	max-width: 1480px;
    min-height: 100%;
}
.second h2 {
	font-family: 'Amatic SC', cursive;
	font-size: 4em;
	text-align: center;
	text-decoration: underline #7B03E0;
}
.div-galaxy {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap;
}
.galaxy {
	position: relative;
	width: 600px;
	height: 350px;
	margin: 1em 1em 1em 1em;
}
.img_block{
    position:absolute;
    left:0;
    bottom:0;
    right:0;
    top:0;
    background:rgba(255,255,255, 0.7);
    display:none;
    color: #fff;
  	font-size: 52px;
  	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.galaxy:hover .img_block{
    z-index: 1;
}*/
.planets {
	max-width: 1480px;
    min-height: 100%;
    margin-top: 3.5em; 
    margin-bottom: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.planets div {
	display: flex;
	flex-direction: column;
}
.plan {
	width: 180px;
	margin: 2em;
	margin-bottom: 3em;
}
.saturn {
	width: 400px;
	height: 200px;
	margin: 2em;
}
.venus {
	position: relative;
	left: 2em;
}
.card {
	margin: 2em;
	margin-bottom: 3em;
	width: 200px;
	height: 200px;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}
.card div {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 1s;
	backface-visibility: hidden;
}
.back {
	background-color: #888;
	border-radius: 5px;
	transform: rotateY(180deg);
}
.back a {
	color: #7B03E0;
	text-decoration: none;
	font-weight: 400;
}
.card:hover .front {
	transform: rotateY(180deg);
}
.card:hover .back {
	transform: rotateY(360deg);
}
